header{text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 18px;
    padding-top: 35px;
    letter-spacing: 1px;

}


div {
    text-align: center;
    font-size: 56px;
    font-style: thin;
    font-family: 'Alice', sans-serif;
    letter-spacing: 1.8px;
    color: #4c4c4c;
    margin: 20px;
}
i {
    border: 1px solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 20px;

}
.arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: bounce 2s infinite;
    animation-timing-function: ease;
    padding: 20px;


    
}


@keyframes bounce {
    0%   { margin-top: 0px; }
    10%  { margin-bottom: 30px;}
    /* 20%  { margin-top: 20px;} */
    40%  { margin-top: 20px;}
    /* 50%  { margin-bottom: 50px; } */
    60%  { margin-bottom: 20px;}
    /* 70%  { margin-top: 20px;} */
    80%  { margin-bottom: 40px;}
    /* 90%  { margin-bottom: 50px;} */
    100% { margin-bottom: 0px; }
}
/* @keyframes bounce {
    0% {move} */

.topline{
    margin-top: 200px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 96%;
    height: 2.5rem;            /* Footer height */
    padding: 10px 0px 70px 10px;
}
.waterdrop{
    float: left;
}
.image{
    float: right;
    
    
}